.movie {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}
.movie-head{
    display: flex;
    gap: 48px;
}

.movie-poster {
    min-width: 260px;
    max-width: 360px;
    width: 100%;
}

.about-title, .about-txt {
    margin-bottom: 16px;
}

.about-txt {
    font-size: 18px;
}
