.movie {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}
.movie-head{
    display: flex;
    gap: 48px;
}

.movie-poster__img {
    min-width: 260px;
    height: 400px;
    width: 100%;
}

.about-title, .about-txt {
    margin-bottom: 16px;
}

.about-txt {
    font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .movie-head {
        flex-direction: column;
    }
    .movie-poster {
        text-align: center;
    }
    .movie-poster__img {
        width: 70%;
    }
}
